{% extends 'base.html' %}

{% block title %}
{{book.title}}
{% endblock %}

{% block content %}
<section class="book_section">
	<div class="left_book">
		<img class="book_page_img" src="{{book.thumbnail}}">
	</div>
	<div class="middle_book">
		<h1>{{book.title}}</h1>
		<h6 class="book_description">{{book.description}}</h6>
		<p>AUTHEUR : {{book.author}}</p>
		<p>Durée : {{book.duration}}</p>
		<p><a class="book_categorie" href="{% url 'catalogue' %}">categorie <i class="fa fa-angle-right"></i></a> {{book.categories}}</p>
		<div class="likes">
			<i class="fa fa-heart"></i>
			<i class="fa fa-heart"></i>
			<i class="fa fa-heart"></i>
			<i class="fa fa-heart"></i>
			<i class="fa fa-heart"></i>
		</div>
		<p class="pub_date">Épisode publié le : {{book.date_upload}}</p>
	</div>
	<div class="right_book">
		<button class="btn btn-outline-secondary my-2"><a href="#episode">écouter l'episode</a></button>
		<button class="btn btn-outline-secondary my-2"><a href="#">se procurer l'episode en Ebook</a></button>
		<button class="btn btn-outline-secondary my-2"><a href="#notes">Voir les notes</a></button>
		<hr>
		<button class="btn btn-outline-secondary my-2" id="essaie"><a href="{{book.amazon_link}}" class="text-white">acheter le livre sur amazon</a></button>
	</div>
</section>
<section class="youtube_video" id="episode">
	<iframe src="{{book.youtube_link}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</section>
<section class="comments_section">
	<div class="add_comments my-4">
		<h2 class="my-4">Ajouter un commentaire</h2>
  		<form method="post">
    		{% csrf_token %}
    		{{ form.as_p }}
    		<button type="submit">Publier</button>
 		</form>
	</div>
	<div class="commentaires my-4">
	  	<h2 class="my-4">Commentaires</h2>
  		{% for comment in comments %}
	    	<div class="my-4">
	      		<span class="my-2">{{ comment.user.username }} | publié le : {{comment.created_at}}</span>
	      		<p class="my-2">{{ comment.text }}</p>
	      		{% if request.user == comment.user %}
			      <form method="post" action="{% url 'delete_comment' comment.id %}">
			        {% csrf_token %}
			        <button class="delete_comment" type="submit">suprimer le commentaire</button>
			      </form>
			    {% endif %}
	    	</div>
  		{% empty %}
    		<p>Pas de commentaire pour l'instant</p>
  		{% endfor %}
	</div>
</section>
<section class="book_under_notes" id="notes">
	<div class="me_book_review">
		<img src="https://pbs.twimg.com/profile_images/1611844886273163265/zzI_v0pO_400x400.jpg">
		<p>{{book.my_review}}</p>
	</div>
	<div class="notes_book">
		<h1>Notes de Mehdi </h1>
		<hr>
		<p>{{book.notes}}</p>
	</div>
</section>
{% endblock %}