{% extends 'base.html' %}

{% block title %}
Catalogue
{% endblock %}

{% block content %}
<br>
<br>
<section class="searchsec">
	<h1>Catalogue de livres disponibles</h1>
  <div class="search-bar">
    <button class="fa fa-search"></button>
    <input type="text" placeholder="cherchez un livre : " id="myInput" onkeyup="myFunction()">
  </div>
	<p>Chaque semaine onebook publie plusieurs livre en condensés audio<br>et vous partage par la suite les meilleurs notes et informations à retenir.</p>
</section>
<br>
<br>
<section class="book_landing my-5">
	<ul id="myUL" class="book_landing">
	  {% for book in books %}
      	<li>
      		<a>{{book.title}}</a>
      		<img id="book_li" class="book_img" src="{{book.thumbnail.url}}">
      	</li>
      {% endfor %}
	</ul> 
</section>
<script>
function myFunction() {
  // Declare variables
  var input, filter, ul, li, a, i, txtValue;
  input = document.getElementById('myInput');
  filter = input.value.toUpperCase();
  ul = document.getElementById("myUL");
  li = ul.getElementsByTagName('li');

  // Loop through all list items, and hide those who don't match the search query
  for (i = 0; i < li.length; i++) {
    a = li[i].getElementsByTagName("a")[0];
    txtValue = a.textContent || a.innerText;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      li[i].style.display = "";
    } else {
      li[i].style.display = "none";
    }
  }
}
</script>
{% endblock %}