{% extends 'base.html' %}


{% block title %}
Conditions
{% endblock %}


{% block content %}
<section class="px-4">
	<h1>Voici les conditions pour l'utilisation de cette plateforme : </h1>

	<p class="mx-2"><span class="text-dark">Respect de la propriété intellectuelle</span>: Vous ne pouvez pas publier de contenu protégé par le droit d'auteur sans autorisation écrite préalable.</p>

	<p class="mx-2"><span class="text-dark">Contenu approprié</span> : Vous ne pouvez pas publier de contenu illégal, offensant, diffamatoire, haineux ou discriminatoire. Vous devez également vous assurer que votre contenu est approprié pour tous les publics.</p>

	<p class="mx-2"><span class="text-dark">Respect de la vie privée</span> : Vous ne pouvez pas publier de commentaires qui violent la vie privée ou la confidentialité de quelqu'un d'autre. Vous devez également respecter les droits à l'image et à la vie privée des personnes apparaissant dans la plateforme.</p>

	<p class="mx-2"><span class="text-dark">Respect des autres utilisateurs</span> : Vous ne pouvez pas harceler, intimider ou menacer d'autres utilisateurs de la plateforme. Vous ne pouvez pas non plus utiliser la plateforme pour propager des discours de haine, des propos injurieux ou des messages à caractère sexuel.</p>

	<p class="mx-2"><span class="text-dark">Sécurité de votre compte </span>: Vous devez protéger votre compte en utilisant un mot de passe sécurisé et en évitant de partager vos informations de connexion avec d'autres personnes. Vous êtes responsable de tout contenu publié à partir de votre compte.</p>

	<p class="mx-2"><span class="text-dark">Respect de la loi </span>: Vous devez respecter toutes les lois et réglementations applicables dans votre pays ou votre région. Vous devez également vous conformer aux conditions d'utilisation de la plateforme et signaler tout comportement suspect ou non autorisé à l'adresse suivante : <span class="text-dark">mehdikhoudalpro@gmail.com</span>.</p>

	<h4>En respectant ces conditions, vous pouvez écouter et profiter des condensés audio en toute sécurité sur votre plateforme, tout en offrant une expérience agréable et respectueuse aux autres utilisateurs de la communauté.</h4>
</section>
{% endblock %}