{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="hero">
    <div class="left">
        <img class="mb-4 rounded-lg md:w-[70%]" src="https://imgs.search.brave.com/bbKKHp_b17v7CiEZwNk7YsKAYhnaBaGyR53Rep1lwi8/rs:fit:1200:1200:1/g:ce/aHR0cHM6Ly9jZG4y/LnBlbmd1aW4uY29t/LmF1L2NvdmVycy9v/cmlnaW5hbC85Nzgw/MjQxMTg0ODM3Lmpw/Zw">
    </div>

    <div class="right" class="right">
        <h1>Ameliorez vous grace au livres livres 📚 et à leurs conseils</h1>
        <p>Des condensés 🔊 audio des conseils des meilleurs livres et une strategie complette pour appliquer leurs conseils dans
            votre vie personnelle et professionnelle à écouter pendant son travaille </p>
        <a class="btn btn-outline-secondary border-0 text-white my-2" href="/" id="essaie">60 jours d'essai gratuits</a>
        <p>Profitez des condensés audio des conseils de livres et une strategie complette pour les mettres en place dans
            votre vie gratuitement pendant 2 mois ensuite c'est 6.99€/mois.</p>

    </div>
</section>
<section class="hero_about mx-5 my-5">
    <div class="mx-0">
        <h3>C'EST QUOI GLOBALEMENT 🤔 ?</h3>
        <p>Onebook est tout simplement une librairie de condensés audio des conseils des differants livres et vous offre avec une strategie complette pour mettre en place les conseils de ses livres.</p>
    </div>
    <div class="mx-0">
        <h3>C'EST POUR QUI 🤷‍♂️ ?</h3>
        <p>Si vous aimez lire mais que par manque de temps ou de motivation, Onebook est fait pour vous, vous pourrez écouter vos livres pendant votre travail, vos séances de sport, avant de dormir, pendant que vous vous relaxez ....</p>
    </div>
    <div class="mx-0">
        <h3>CELA SERT A QUOI 🔧 ?</h3>
        <p>C'est simple,Onebook vous permé de gagner du temps, beaucoup de temps, si vous y pensez, lire un livre au complet vous prendrez des semaines sur Onebook, vous écouterez le necessaire dans les livres, le meilleur, le plus interessant. </p>
    </div>
</section>
{% endblock %}