{% extends 'base.html' %}
{% block title %}
Login
{% endblock %}

{% block content %}
<form action="/login/" method="post" class="auth_form">
	<h1 class="auth_h1">Se connecter</h1>
	{% csrf_token %}
	<input class="username_input" name="username" placeholder="Votre Nom : ">
	<input class="password_input" type="password" name="password" placeholder="Votre Mot de passe : ">
	<button class="auth_button btn btn-outline-secondary text-white border-0" type="submit" id="essaie">se connecter</button>
	<a href="{% url 'signup' %}">je n'est pas un compte</a>
	<!-- {% if user.is_authenticated %}
	    {{ user.username }}
	    {{ user.id }}
	{% else %}
	    Not loged in -->
	{% endif %}
</form>
{% endblock %}